@{
    ViewBag.Title = "Home Page";
}

<div data-role="header">
    <h1>HomeTrax</h1>
    @Html.ActionLink("Register", "Register", "Account")

    @Html.ActionLink("Log In", "Login", "Account")
</div>
<div data-role="body">
    <p>
        @ViewBag.Message 
    </p>

    <ul data-role="listview" data-inset="true">

        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</div>
